yarn-error.log
yarn.lock

coverage/
**/types.ts
**/errors.ts
**/*.test.ts
**/*.md
pnpm-lock.yaml
README.md
tsconfig.json
vitest.config.ts
test/
docs/
dev-app/

img/
makefile
src
tsconfig.build.json
.editorconfig
.tool-versions
.github
.vscode
.size-limit.cjs
pnpm-workspace.yaml